    <%- include('./partials/intro') %>
    <%- include('./partials/navigation') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/flights">Show all flights</a>
  </body>
</html>
